# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Logs
logs
*.log
logs/*
pids
*.pid
*.seed
*.pid.lock

# OS files
.DS_Store
Thumbs.db

# Build (nếu bạn dùng TypeScript hoặc build tool)
dist/
build/

# Coverage (nếu dùng test)
coverage/

# IDE/Editor
.vscode/
.idea/
